@model IEnumerable<DT191G_projekt.Models.ProductBrand>

@{
    ViewData["Title"] = "Index";
}

<h1>Märken & Leverantörer</h1>

<div class="IndexProductButtons">
    <a asp-action="Index" asp-controller="ProductCategory">Hantera produktkategorier</a>
    <a asp-action="Index" asp-controller="Product">Hantera produkter</a>
</div>

<p>
    <a asp-action="Create">Lägg till ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BrandId">Redigera</a> |
                <a asp-action="Delete" asp-route-id="@item.BrandId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
