@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till jobbet!</h1>

    <hr>

    <div class="HomePageButtons">
        <h2>Hantera produkter</h2>
        <a style="background-color: rgb(3, 123, 83);" asp-action="Index" asp-controller="Product" >Hantera produkter</a>
        <a style="background-color: rgb(3, 123, 83);" asp-action="Index" asp-controller="ProductCategory">Hantera produktkategorier</a>
        <a  style="background-color: rgb(3, 123, 83);" asp-action="Index" asp-controller="ProductBrand">Hantera märken & leverantörer</a>

        <h2>Hantera Ordrar</h2>
        <a style="background-color: rgb(123, 97, 3);" asp-action="Index" asp-controller="CustomerOrder">Se & plocka nya ordrar</a>
        <a style="background-color: rgb(123, 97, 3);" asp-action="PackedOrders" asp-controller="CustomerOrder">Skicka iväg plockade ordrar</a>
        <a  style="background-color: rgb(123, 97, 3);" asp-action="ShippedOrders" asp-controller="CustomerOrder">Se skickade ordrar</a>

        <h2>Webbplatsens innehåll</h2>
        <a style="background-color: rgb(31, 61, 130);" asp-action="Index" asp-controller="AboutUs">Om Oss</a>
         <a style="background-color: rgb(31, 61, 130);" asp-action="Index" asp-controller="Recipe">Hantera recept</a>
    </div>
    

  
    

</div>
