@model DT191G_projekt.Models.ProductCategory

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera kategori</h1>
<p>Om kategorin finns på en produkt kommer den inte kunna raderas.
Ändra produktens kategori om kategorin ska raderas</p>



<h3>Är du säker att du vill radera kategorin?</h3>
<span style="color: red;">@ViewBag.CantRemoveCategory</span>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Radera" class="btn btn-danger" />
        <br>
        <a asp-action="Index">Back to List</a>
    </form>
</div>
