@model DT191G_projekt.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<h1>Lägg till recept</h1>

<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="10" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" asp-for="ImageFile" class="form-control" accept="image" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                <br>
                <label asp-for="AltText" class="control-label"></label>
                <input asp-for="AltText" class="form-control" />
                <span asp-validation-for="AltText" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group" id="ingredient-list">
                <label class="control-label">Ingredienser:</label>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ingrediens</th>
                            <th>Mängd</th>
                            <th>Enhet</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 10; i++)
                        {
                            <tr>
                                <td>
                                    <input asp-for="Ingredients[i].Name" class="form-control" />
                                </td>
                                <td>
                                    <input asp-for="Ingredients[i].Quantity" class="form-control" />
                                </td>
                                <td>
                                    <input asp-for="Ingredients[i].Unit" class="form-control" />
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <button type="submit" class="btn btn-primary">Lägg till recept</button>
        </form>
   </div>
</div>
<br>
<div>
    <a asp-action="Index">Tillbaka till översikten</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @* <script src="~/js/AddIngredient.js"></script> *@
}
